name: CI
on:
  push:
    branches: [master]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      matrix:
        ghc: ['9.0', '9.2', '9.4', '9.6', '9.8']
        include:
          - cabal: '3.12'
          - experimental: false
          - ghc: '9.14'
            cabal: '3.16'
            experimental: true
            allownewer: true
          - ghc: '9.12'
            cabal: '3.16'
            experimental: false
          - ghc: '9.10'
            cabal: '3.14'
            experimental: false
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install GHC and Cabal
        uses: haskell-actions/setup@v2
        with:
          ghc-version: ${{ matrix.ghc }}
          cabal-version: ${{ matrix.cabal }}
          cabal-update: true

      - name: Build and test
        env:
          NGXVER: 1.28.1
          NGXECHOVER: '0.64'
          NGXECHODLPATH: openresty/echo-nginx-module/archive/refs/tags
          ALLOW_NEWER: ${{ matrix.allownewer && '--allow-newer=all' || '' }}
        run: |
          cabal --version
          echo "$(ghc --version) "`
              `"[$(ghc --print-project-git-commit-id 2>/dev/null || echo '?')]"
          cabal build $ALLOW_NEWER
          wget "https://nginx.org/download/nginx-$NGXVER.tar.gz" &&
              tar xzvf "nginx-$NGXVER.tar.gz"
          wget "https://github.com/$NGXECHODLPATH/v$NGXECHOVER.tar.gz" \
              -O "echo-nginx-module-$NGXECHOVER.tar.gz" &&
              tar xzvf "echo-nginx-module-$NGXECHOVER.tar.gz"
          ngx_prefix="$(pwd)/nginx"
          cd "nginx-$NGXVER"
          ./configure --prefix="$ngx_prefix" \
              --add-module="../echo-nginx-module-$NGXECHOVER"
          make -j2
          make install
          cd -
          "./nginx-$NGXVER/objs/nginx" -c "$(pwd)/test/nginx.conf"
          cd test
          if [ "${{ matrix.allownewer }}" = true ]
          then
              echo "allow-newer: all" >> cabal.project
          fi
          cabal build
          cabal run
          ngx_pid="$(cat ../nginx/logs/nginx.pid)"
          kill -QUIT "$ngx_pid"

